[Unit]
Description=opennic DNS configuration
Requires=network.target
After=dhcpcd.service

[Service]
Type=simple
ExecStart=/usr/bin/opennic
CapabilityBoundingSet=
ProtectSystem=yes
ProtectHome=yes
ReadWriteDirectories=/etc
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
