[Unit]
Description=opennic DNS configuration
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/opennic
CapabilityBoundingSet=
ProtectSystem=yes
ProtectHome=yes
ReadWriteDirectories=/etc
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
